body {
  font-family: cursive !important;
  margin: 0 auto;
}

/*comment design*/
.user_details_container{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as per your preference */
  gap: 10px; /* Adjust the gap between images */
}
.container-wrapper {
  position: fixed;
  bottom: 0;
  margin-bottom: 90px;
}

.deletecomment {
  color: white;
  font-size: 10px !important;
}

.dropdown-item:hover {
  background-color: #212121 !important;
}


.dots {
  margin-left: 10px;
}

.deletebutton {
  color: white !important;
}

.threedots {
  float: right;
  display: flow-root;
  padding-right: 10px;
  flex-grow: 1;
  text-align: right;
}

.deletebutton:hover {
  color: red;
}

.comments-container {
  min-height: 50px;
  max-height: 220px;
  /* Set a fixed height for the scrollable container */
  overflow-y: scroll;
  /* Add a vertical scrollbar when content overflows */
  /* Add other styles if needed */
  scrollbar-width: thin;
  scrollbar-color: #c0c0c0 #f0f0f0;
}

.comments-container::-webkit-scrollbar {
  width: 6px;
}

.comments-container::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.comments-container::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 3px;
}

.comment {
  color: #939393;
  margin-top: 16px;
}

.comment .dropdown-menu.show,
.post-detail-caption .dropdown-menu.show {
  min-width: 10px !important;
  --bs-dropdown-min-width: 10px !important;
  width: 60px !important;
  height: fit-content !important;
  padding: 0px !important;
}

.comment .dropdown-item,
.post-detail-caption .dropdown-item {
  padding: 0 !important;
}

.comment-actions{
  text-align: right;
}

.username {
  padding-left: 12px;
  color: black;
}

.commentmain {
  color: black;
}

#openUserPost {
  overflow: hidden;
}

.modaldesc {
  padding: 0 !important;
  max-height: 600px;
}

.imgdivbig {
  max-height: 700px !important;
  overflow: hidden;
}

.commentbox {
  font-size: 12px;
  /* text-align: center; */
  /* line-height: 49px; */
  margin-top: 0px;
  padding-left: 10px;
}

.searchmod {
  margin: 100px auto !important;
}

.imgmodal {
  height: 512px !important;
  object-fit: cover;
}

.modalbodypad {
  padding: 0 !important;
}

.hrmargin {
  margin-top: 4%;
  border-top: 1px solid #dbdbdb;
}

.hrpad {
  margin-top: 0.5rem !important;
}

.likecomment {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
  gap: 20px;
}

.imgbox {
  width: 58% !important;
}

.divcontainer {
  width: 500px;
}

.datamodal {
  padding-left: 15px;
  padding-right: 15px;
}

.btncomment {
  height: 40px;
  font-size: 12px;
}

.modalwidth {
  max-width: 90% !important;
  display: flex;
  justify-content: center;
  margin-top: 3.5%;
}

/*comment design*/

.resimdiv {
  max-width: 100%;
  /* Set the maximum width of the container to 100% */
  height: auto;
}

.resimdiv img {
  max-width: 100%;
  /* Set the maximum width of the container to 100% */
  height: auto;
}



/*Profilepage updates*/
.profileimage_grid {
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  /* padding: 0 12px; */
  position: relative;
  gap: 20px;
}

.images:hover .p_img {
  opacity: 0.3;
}

.text {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.images:hover .text {
  opacity: 1;
}

.topcontainer {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 2rem;
  margin-top: 6rem;
  border: 0 !important;
}

.editbutton {
  text-decoration: none;
  margin-left: 2rem !important;
  background-color: #fafafa !important;

  font-weight: 600 !important;

  line-height: 1.8 !important;
  border: 1px solid #dbdbdb !important;
  border-radius: 0.3rem !important;
  padding: 0 2.4rem !important;
  margin-left: 2rem !important;
  display: inline-block !important;
  /* font: inherit; */

  width: fit-content !important;
  color: inherit !important;
  /* padding: 0; */
  cursor: pointer !important;
  color: black !important;
  height: 30px !important;
  font-size: 15px;
  margin-top: 20px !important;
}

.setting-icon {
  margin-top: 20px;
}

.edpr {
  text-decoration: none !important;
  color: black;
}

.bolding {
  font-weight: 600;
}

.headtest {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*Profilepage updates ends*/

/*Edit profile start*/

.suguser {
  background: black;
  display: flex;
  color: white;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#usermar {
  margin-bottom: 20px;
  margin-top: 20px;
}

.followButton {
  height: 45px !important;
  width: 85px !important;
  background-color: #0095f6 !important;
  color: white !important;
  padding-top: 10px !important;
  font-size: small !important;
  margin-top: 5px;
  border-radius: 12px;
}

.uniname {
  font-size: 10px;
  margin-top: 12px;
  color: white;
}

.suggestionprofilePic {
  width: 60px;
  height: 60px;
  border: 2px solid #e3e3e3;
  border-radius: 50%;
}

.labelset {
  margin-left: 10px;
}

.btnprofile {
  height: 45px !important;
  width: 130px !important;
  background-color: black !important;
  color: white !important;
  padding-top: 10px !important;
  font-size: small !important;
}

.change-profile-photo-link {
  color: #007bff;
  /* Blue color, you can choose your desired color */
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 10px;
  border: 2px solid #007bff;
  border-radius: 5px;
  transition: background-color 0.2s, color 0.2s;
}

.change-profile-photo-link:hover {
  background-color: black;
  color: #fff;
}

.spacing {
  margin-top: 5.5rem !important;
}

.btnspace {
  margin-bottom: 40px;
}

.btnmargin {
  margin-left: 2rem;
}

.backenderror {
  margin-top: 20px;

  color: red !important;
}

.namespacing {
  margin-bottom: 1.5rem;
}

.username {
  font-weight: bold;
}

.usernamespace {
  margin-top: 1rem;
}

.usersection {
  background: #f5f5dc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio {
  min-height: 150px;
  max-height: 250px;
  margin-bottom: 15px;
}

.edituserimg {
  width: 250px;
}

.imgmargin {
  margin-top: 2rem;
}

.editporfileimg {
  width: 50%;
}

.editusersection {
  background: #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ba68c8;
}

.border-right {
  border-right: 1px solid #dee2e6 !important;
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none;
}

.profile-button:hover {
  background: #682773;
}

.profile-button:focus {
  background: #682773;
  box-shadow: none;
}

.profile-button:active {
  background: #682773;
  box-shadow: none;
}

.back:hover {
  color: #682773;
  cursor: pointer;
}

.labels {
  font-size: 11px;
}

.add-experience:hover {
  background: #ba68c8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #ba68c8;
}

/*Edit profile end*/

.fix-upload-button .btndiv {
  margin-top: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0 !important;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  color: black;
}

.modal-content {
  background-color: #fff;
  /* margin: 100px auto; */
  padding: 20px;
  border-radius: 0px !important;
  max-width: 600px;
  width: 90%;
}

.modal-overlay {
  display: none !important;
}

.modal-content form {
  display: flex;
  flex-direction: column;
}

.choosefile {
  width: 50% !important;
  margin-top: 5% !important;
}

.bs-gutter {
  --bs-gutter-x: 0 !important;
}

#profileName {
  font-size: 13px;
  margin-left: 10px;
}

.subbtn {
  background-color: black !important;
  margin: auto !important;
  margin-top: 30px !important;
  width: 150px !important;
}

.caption {
  max-height: 200px !important;
  text-align: left !important;
}

.modal-content input[type="text"],
.modal-content input[type="file"],
.modal-content button[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: #fafafa;
  border-radius: 4px;
}

.modal-content span {
  font-size: 16px;
  margin-bottom: 5px;
}

.modal-content .post-image {
  margin-top: 10px;
}

.modal-content .post-image img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.modal-content .loader {
  margin-top: 10px;
  text-align: center;
}

.error-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
}

.error-list li {
  color: red;
  font-size: 14px;
}

.text-danger {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.small {
  font-size: 12px;
}

button[type="submit"]:hover {
  background-color: #1864ab;
}

.uploadimgset {
  display: flex;
  justify-content: center;
  margin-top: 9%;
}

.modal-content {
  width: 495px;
  height: auto;
}

.modal-close {
  display: flex;
  justify-content: flex-end;
}

.modalcross {
  display: flex;
}

.modalsubdiv {
  width: 50%;
  /* Adjust the width as needed */
  height: 20px;
  /* Adjust the height as needed */
}

.posting {
  text-align: center;
}

#modal1 {
  top: 0% !important;
  overflow: hidden;
}

.caption {
  width: 400px;
  height: 80px;
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: #f5f5f5;

  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;

  display: flex;
  justify-content: center;
  text-align: center;
}

.caption:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.capdiv {
  display: flex;
  justify-content: center;
}

.caption::placeholder {
  color: #aaa;
}

.caption:-ms-input-placeholder {
  color: #aaa;
}

.caption::-ms-input-placeholder {
  color: #aaa;
}

.drag {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* Adjust the height as needed */
}

.drag span {
  text-align: center;
}

.btndiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.admin_main_container {
  margin-top: 5rem;
  min-height: 93vh;
}

.doughnut_main_container{
  display: flex;
}

.doughnut_right_container {
  width: 400px;
  height: 400px
}

.doughnut_left {
  flex: 1;
  padding: 30px;
  border-right: 1px solid #ccc;
  margin-left: 40px;
}

.doughnut_right {
  flex: 3;
  padding: 20px;
}

/*hamburger start*/
.dropdown-menu.show {
  background-color: #212121;
  min-width: 130px;
  margin-top: 2px;
  text-align: center;

}

.clock {
  font-size: 13px !important;
}

.iconimg {
  font-size: 13px;
  width: fit-content;
  position: unset !important;
}

.menuname {
  font-size: 13px;
}

#profile-dropdown {
  background: none;
  border: 0 !important;
}

.tabmenu #prfimg {
  width: 25px;
}

.menu a:hover {
  color: white;
  background-color: #212121;
}

/* Hamburger */

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu>li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.menu a {
  color: #ffffff;
  font-size: 13px;
  text-align: center;
}

/*hamburger end*/

.main-section {
  background: linear-gradient(to right, #2398bb, #90ee90);
}

.headlogo {
  width: 100px;
}

.standout {
  font-size: larger !important;
}

*/ .headlogo {
  width: 100px;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #05345b;
  z-index: -1;
}

#login-container {
  display: flex;
  height: 570px;
  justify-content: center;
  align-items: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 5px;
  width: 70%;
}

#resrevtest {
  min-height: 500px;
}

.login-form {
  width: 50%;
  display: contents;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.user-details {
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banimg {
  height: 100%;
  max-width: 100%;
}

.user-details h2 {
  color: #05345b;
  margin-top: 20px;
}

.introduction {
  background-color: beige;
  margin-top: 7%;
}

.user-details input[type="text"],
.user-details input[type="password"] {
  max-width: 400px;
  padding: 10px;
  margin-bottom: 10px;
}

.action-section {
  text-align: center;
}

.action-section img {
  height: 100%;
  margin-bottom: 20px;
}

.errormsg {
  color: red;
  font-size: 13px;
  margin: 5px 0;
}

button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10%;
}

.fields {
  height: 65px;
  border-radius: 50px;
  text-align: center;
  border: none;
}

.login-logo {
  width: 150px;
  max-width: 100%;
}

.bigimg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logostyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  padding-right: 0px !important;
}

.btnblack {
  height: 45px !important;
  width: 85px !important;
  background-color: black !important;
  color: white !important;
  padding-top: 10px !important;
  font-size: small !important;
  margin-top: 20px;
}

.pad {
  padding-top: 10px;
  max-width: 400px;
  width: 100%;
}

.forget {
  font-size: 14px;
  color: black;
  text-align: center;
  margin-bottom: 0 !important;
}

.formheight {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid gray;
  border-radius: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 45px;
}

.row>* {
  padding-left: 0px !important;
}

.secform {
  margin-top: 20px;
}

.color {
  margin-top: 20px;
}

* {
  padding: 0;
  margin: 0;
  font-size: 100%;
  box-sizing: border-box;
  /* font-family: cursive; */
}

.btnpost {
  width: 95px !important;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  line-height: 1.4;
  font-size: clamp(1rem, 1.1rem, 1.2rem) !important;
}

a {
  text-decoration: none !important;
}

li {
  list-style-type: none;
}

h2 {
  font-size: clamp(1.2rem, 1.4rem, 1.6rem) !important;
  margin-top: 8px;
}

.logo {
  width: 200px;
  max-width: 200px;
  vertical-align: middle;
}

.logonew {
  color: #ffffff;
  font-size: 100%;
  font-weight: bold;
}

.top-nav {
  position: fixed !important;
  /* position: -webkit-fixed !important; */
  width: 100%;
  top: 0 !important;
  z-index: 999 !important;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #e6e7e8;
  border-bottom: 1px solid #e0e5eb;
  box-shadow: 0px 1px 4px #e6e7e8;
  color: black;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* gap: 20px; */
}

.menu>li {
  margin: 0 1rem;
  overflow: hidden;
  font-size: 15px;
}

.menu a {
  color: white;
  text-decoration: none;
  padding-left: 6px;
}

/* 
    Footer
*/
footer {
  background: #212121;
  color: #58595b;
  /* height: 90px !important; */
  left: 0;
  bottom: -5px;
  width: 100%;
  transition: bottom 0.3s ease-in-out;
}

footer h1 {
  color: #f32a2e;
  font-size: 12px !important;
  font-size: 1.2rem;
  color: black;
}

.aboutmargin {
  margin-top: 4%;
}

footer hr {
  width: 70%;
  margin: auto;
  opacity: 0.5;
  font-size: 15px;
}

footer li {
  min-height: 32px;
}

footer>p {
  text-align: center;
  padding: 30px 0;
}

footer #footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 30px;
  /* padding: 20px 0; */
}

footer a {
  text-decoration: none;
  color: white;
}

.social_media {
  text-align: center;
  display: flex;
  gap: 10px;
}

.social_media div img {
  width: 40px;
  padding: 5px;
  max-width: 90px;
  height: auto;
}

footer hr {
  display: none;
}

footer #footer {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  align-items: start;
  gap: 10px;
  /* height: 50px; */
}

.errpad1 {
  text-align: left;
}

.footmargin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 12px !important;
}

/* ABOUT US MODIFIED */

#collections_container,
#top_selling_container,
#official_merchandise_container {
  text-align: center;
  width: 96%;
  margin: auto;
  margin-top: 4%;
}

.fonttext {
  font-size: 18px;
}

.wholesec {
  background-color: #fff;
  height: 100%;
}

.changecol {
  background-color: #fff;
}

#collections_container h1,
#official_merchandise_container h1,
#top_selling_container h1,
#membership h1 {
  padding: 20px;
  font-size: clamp(1.5rem, 2vw - 1rem, 2.5rem);
}

#top_selling {
  margin-top: 20px;
  display: flex;
  flex-basis: 350px;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  margin-top: 2%;
}

#top_selling .items {
  display: flex;
  flex-direction: column;
}

#top_selling .items img {
  max-width: 300px;
  /* height: 100%; */
}

#top_selling .product_title {
  font-size: 0.9rem;
  padding: 4px 0;
}

#top_selling .description {
  font-size: 0.9rem;
}

#top_selling .price {
  font-size: 0.9rem;
}

#top_selling .items {
  display: flex;
  flex-direction: column;
}

#top_selling .items img {
  max-width: 300px;
  /* height: 100%; */
}

.imgbor {
  border-radius: 20px;
}

#top_selling .product_title {
  font-size: 0.9rem;
  padding: 4px 0;
}

.product_title {
  width: 300px;
  word-wrap: break-word;
}

.success {
  text-decoration: underline;
  font-size: 1.5rem;
}

#collections_container h1,
#official_merchandise_container h1,
#top_selling_container h1,
#membership h1 {
  padding: 20px;
  font-size: clamp(1.5rem, 2vw - 1rem, 2.5rem);
}

.instagramIcon {
  color: #c13584;
}

.facebookIcon {
  color: #4267b2;
}

.twitterIcon {
  color: #1da1f2;
}

.post-image>img {
  width: 30%;
}

.collection-item {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
}

@media screen and (min-width: 360px) and (max-width: 370px) {
  .container-wrapper {
    position: relative;
    bottom: 0;
    margin-bottom: 0px;
  }

  .btncomment {
    margin-bottom: 20px;
  }

  .clock {
    font-size: 11px !important;
  }

  .modal-dialog {
    width: 300px;
  }

  .modal-likes-dialog {
    width: 300px;
  }

  .hrmargin {
    margin-top: 10px !important;
  }

  .divcontainer {
    width: auto;
  }

  /* .modalmobilecen {
    display: flex !important;
    justify-content: center;
    align-items: center;
  } */

  .imgbox {
    width: 100% !important;
  }

  .modalwidth {
    max-width: 100% !important;
  }

  .imgmodal {
    height: 312px !important;
    object-fit: cover;
  }
}

@media screen and (min-width: 370px) and (max-width: 1000px) {
  .container-wrapper {
    position: relative;
    bottom: 0;
    margin-bottom: 0px;
  }

  .btncomment {
    margin-bottom: 20px;
  }


  .clock {
    font-size: 11px !important;
  }

  .dropdown-menu.show {
    min-width: 30px;
    height: auto;
    text-align: center;
  }

  .deletecomment {
    font-size: 10px !important;
  }

  .divcontainer {
    width: auto;
  }

  /* .modalmobilecen {
    display: flex !important;
    justify-content: center;
    align-items: center;
  } */

  .imgbox {
    width: 100% !important;
  }

  .modalwidth {
    max-width: 100% !important;
  }

  .imgmodal {
    height: 312px !important;
  }

  .hrmargin {
    margin-top: 4%;
  }

  .labelset {
    margin-left: 12px;
  }

  .edpr {
    font-size: 10px !important;
  }

  .editbutton {
    line-height: 0.9 !important;
  }

  /*responsive modal start */
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100% !important;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
    /* height: 500px; */
  }

  #resrevtest {
    display: flex !important;
    flex-direction: column-reverse !important;
    display: flex !important;
    flex-direction: column-reverse !important;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 100px;
  }

  .logostyle {
    height: 38vh;
  }

  .banimg {
    height: 100%;
    max-width: 100%;
  }

  .login-logo {
    max-width: 100%;
  }

  #login-container {
    height: 100vh;

    display: flex;
    /* justify-content: unset; */
    align-items: center;

    max-width: 95% !important;
  }

  .action-section img {
    height: 100%;
    margin-bottom: 0px !important;
  }

  .about-us-container,
  .about-us-container-md,
  .about-us-container-sm {
    max-width: 80%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1080px) {
  .imgbox {
    width: 100% !important;
  }

  .btncomment {
    margin-bottom: 20px;
  }

  .clock {
    font-size: 11px !important;
  }

  /* .modalmobilecen {
    display: flex !important;
    justify-content: center;
    align-items: center;
  } */

  .container-wrapper {
    position: inherit;
    bottom: 0;
    margin-bottom: 90px;
  }

  .hrmargin {
    margin-top: 4%;
  }

  .divcontainer {
    width: auto;
  }

  .labelset {
    margin-left: 12px;
  }

  .usersection {
    height: auto !important;
  }

  #login-container {
    height: 530px;
    display: flex;
    align-items: center;
    max-width: 95% !important;
  }

  .logostyle {
    height: 70vh;
  }

  .action-section img {
    height: 84%;
    margin-bottom: 20px;
    max-width: 90px;
    height: auto;
  }
}

.main-container {
  min-height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-login-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr;
  background-color: white;
  /* padding: 40px; */
  width: 70%;
  margin: auto;
  min-height: 585px;
}

#login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.remmargin {
  margin-top: 0px !important;
}

.login-details {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-image>img {
  display: none;
}

#form1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .labelset {
    margin-left: 12px;
  }

  .btncomment {
    margin-bottom: 20px;
  }

  .clock {
    font-size: 11px !important;
  }

  #main-login-container {
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    /* gap: 20px; */
    width: 70%;
    grid-template-rows: auto;
  }

  #login-image>img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    display: block;
  }
}

/* Sign Up Page */
.signup-container {
  display: flex;
  margin: 0 auto;
  box-sizing: border-box !important;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sign-up-container {
  height: unset !important;
}

/* Sign Up End */

/* ABOUT US */

body {
  /* font-family: Arial, sans-serif; */
  background-color: #f8f8f8;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

header h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.about-section {
  /* padding: 40px; */
  text-align: center;
  margin-top: 4%;
}

.about-section .about-us-container {
  background-color: #fff;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  padding: 40px;
  padding-left: 90px;
  margin-bottom: 4%;
  padding-right: 90px;
}

.about-section .row {
  align-items: center;
}

.about-section .col {
  margin-bottom: 30px;
}

.about-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.about-section p {
  font-size: 16px;
  margin-bottom: 15px;
}

footer {
  text-align: center;
}

.cover-image {
  position: relative;
  width: 100%;
  height: 530px;
  overflow: hidden;
}

.cover-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cover-image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-image .overlay h1 {
  color: #fff;
  font-size: 36px;
  text-align: center;
}

.midimg {
  width: 90%;
  margin: 0 auto;
  margin-top: 6% !important;
}

.slideshow {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../assets/imgone.jpg) no-repeat center left;
  animation: slide 20s infinite;
  height: 500px;
  background-position: center;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
}

.link {
  cursor: pointer;
}

@keyframes slide {
  0% {
    background: url(../assets/newimg/excited-friends-watching-video-mobile-phone.jpg),
      url(../assets/imgthree.jpg);
    width: 100%;
    animation: slide 20s infinite;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    background-size: cover;
  }

  25% {
    background: url(../assets/imgthree.jpg), url(../assets/imgfour.jpg);
    width: 100%;
    animation: slide 20s infinite;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    background-size: cover;
  }

  50% {
    background: url(../assets/imgfour.jpg), url(../assets/newimg/mobile-app.jpg);
    animation: slide 20s infinite;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    background-size: cover;
  }

  75% {
    background: url(../assets/newimg/mobile-app.jpg),
      url(../assets/newimg/pretty-young-woman.jpg);
    animation: slide 20s infinite;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    background-size: cover;
  }

  100% {
    background: url(../assets/newimg/pretty-young-woman.jpg),
      url(../assets/imgseven.jpg);
    width: 100%;
    animation: slide 20s infinite;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    background-size: cover;
  }
}

.cover-image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-image .overlay h1 {
  color: #fff;
  font-size: 36px;
  text-align: center;
}

.centertext {
  text-align: center;
  font-size: 30px;
  width: 70%;
  margin: 0 auto;
}

footer p {
  font-size: 14px;
  color: #888;
}

.imgfull {
  max-width: 0px !important;
}

.cover-image {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.cover-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cover-image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-image .overlay h1 {
  color: #fff;
  font-size: 36px;
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  width: 75%;
}

.about-us-container {
  max-width: 1600px !important;
}

.midimg {
  width: 90%;
  margin: 0 auto;
}

.footerspace {
  margin-bottom: 6%;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #212121;
  border-bottom: 1px solid #e0e5eb;
  box-shadow: 0px 1px 8px #e6e7e8;
  color: white;
  height: 50px;
  padding: 1em;
}

.logonew {
  color: #ffffff;
  font-size: 100%;
  font-weight: bold;
}

.headlogo {
  width: 100px;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: white;
}

hr {
  margin: 0 !important;
}

.sub-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  position: absolute;
  background-color: #e6e7e8;
  box-shadow: 0px 1px 8px #e6e7e8;
}

.sub-menu li {
  margin: 0;
  width: 100%;
}

.sub-menu a {
  color: black;
  display: block;
  padding: 10px;
}

.profile-menu:hover .sub-menu {
  display: block;
}

.sub-menu-toggle {
  display: none;
}

.sub-menu-toggle+label:before {
  content: "▼";
  display: inline-block;
  margin-right: 5px;
  /* transform: rotate(-90deg); */
  transition: transform 0.3s;
}

/* .sub-menu-toggle:checked + label:before {
  /* transform: rotate(0deg); */
.menu.open {
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 700px) {
  .creator_desc {
    margin-top: 20px;
  }



  .btncomment {
    margin-bottom: 20px;
  }



  .clock {
    font-size: 11px !important;
  }

  .editbutton {
    line-height: 0.9 !important;
    margin-top: 0px !important;
    margin-left: 2px !important;
  }

  .edpr {
    font-size: 12px;
  }

  .p_img {
    height: 250px !important;
    object-fit: cover;
  }

  .topcontainer {
    margin-top: 0 !important;
    max-width: 100%;
    padding: 0 !important;
  }

  .labelset {
    margin-left: 12px;
  }

  #main-login-container {
    width: 90% !important;
  }

  .menu {
    position: relative;
  }

  .menu-button-container {
    display: block;
  }

  .menu li {
    margin-bottom: 10px;
  }

  .sub-menu {
    position: static;
    box-shadow: none;
    background-color: transparent;
  }
}

.icons {
  width: auto;
  cursor: pointer;
}

.user_details_container,
.hobbies_container {
  width: 80%;
  margin: 50px auto;
}

.creator_block {
  width: 120px;

  /* display: inline-block; */
  border-radius: 50%;
  vertical-align: middle;
  height: 120px;
  margin-left: 10%;
}

.creator_image {
  width: 120px;
  border-radius: 70%;
  height: 120px;
  object-fit: cover;
}

.creator_block_post {
  width: 40px;
  border-radius: 50%;
  vertical-align: middle;
  height: 40px;
}

.creator_image_post {
  width: 35px;
  border-radius: 70%;
  height: 35px;
  object-fit: cover;
}

.container_button {
  height: auto;
  margin: 0 auto;
  width: 50% !important;
  text-align: center;
}

.container_button button {
  background: #a80000;
  color: white;
  width: 40%;
  border-radius: 22px;
  border: none;
  float: none;
  margin-right: 15px;
  text-align: center;
  margin-top: 8px;
}

.container_button p {
  font-weight: bold;
  font-family: cursive;
  font-size: 10px;
}

.b_text {
  display: inline-block;
  vertical-align: middle;
  font-size: 8px;
}

.sync {
  float: left;
  font-family: cursive;
}

.creator_desc {
  font-size: 15px;
  color: #212121;
  font-weight: bold;
  text-align: center;
}

.creator_details {
  text-align: center;
  margin-top: 20px;
  font-size: 10px;
}

.first_text {
  text-align: center;
}

.p_img {
  height: 350px;
  width: 100%;
  object-fit: cover;
  opacity: 1;
  display: block;
  width: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.images {
  position: relative;
  background-color: black;
}

.t_layout {
  text-align: center;
}

.desc {
  float: left;
  margin-top: 10px;
  font-size: small;
}

.icon {
  width: 25px;
}

.number {
  line-height: 23px;
  vertical-align: top;
  font-size: 10px;
}

.hobbies_container>.see_more {
  text-align: center;
}

.users_container>.see_more {
  text-align: center;
}

/* ProfileComponent Post */
.likes {
  font-size: 13px !important;
}

.user-caption {
  font-size: 14px !important;
}

.edit_profile_button {
  display: flex;
  font-size: 13px;
  border-radius: 5px;
  background-color: #e6e7e8;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.edit_profile_button:hover {
  background-color: transparent;
  border: 2px solid #f33535;
}

@media screen and (min-width: 768px) {
  .labelset {
    margin-left: 12px;
  }

  .btncomment {
    margin-bottom: 20px;
  }

  .clock {
    font-size: 11px !important;
  }

  .user_details_container {
    background: white;
  }

  .image_mainblock {
    background-color: #ffffff;
    margin: 0 auto;
    height: auto;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    border: 3px solid #a80000;
    border-radius: 55px;
    width: 100%;
  }

  .creator_block {
    width: 180px;
    border-radius: 50%;
    vertical-align: middle;
    height: 180px;
    margin-left: 10%;
  }

  .creator_image {
    width: 180%;
    border-radius: 70%;
    height: 180px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .container_button {
    height: 200px;
    margin: 0 auto;
    width: 70%;
  }

  .container_button button {
    background: #a80000;
    color: white;
    width: 30%;
    border-radius: 22px;
    display: inherit;
    border: none;
    height: 40px;
    float: left;
    margin-right: 15px;
    text-align: center;
  }

  .container_button p {
    font-weight: bold;
    font-family: cursive;
    font-size: 12px;
  }

  .b_text {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
  }

  .sync {
    float: left;
    font-family: cursive;
  }

  .creator_desc {
    font-size: 20px;
    color: #212121;
    font-weight: bold;
    text-align: left;
    margin-top: 20px !important;
  }

  .creator_details {
    float: left;
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
  }

  .first_text {
    text-align: initial !important;
  }

  .t_layout {
    padding-left: 30px;
  }

  .desc {
    float: left;
    margin-top: 20px;
    font-size: 13px;
  }

  .profile_no_post {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 450px;
    grid-template-rows: auto;
    gap: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .icon {
    width: 40px;
  }

  .number {
    line-height: 40px;
    vertical-align: top;
    font-size: 15px;
  }
}

.post-image {
  width: 250px;
}

.user_details_bio_container {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.post-details-stats {
  gap: 16px;
  align-items: center;
}

.post-comment {
  min-height: 50px;
  max-height: 50px;
  width: 100%;
}

.img-fluid {
  width: 100% !important;
}

.report_desc {
  width: 100%;
  min-height: 100px;
  padding-left: 3px;
}

.success-check {
  background-color: green;
  color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.no-message {
  background-color: #e3e3e3;
  height: 40px;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
}

.reports-table {
  padding: 0 10px;
}

.report_actions {
  display: flex;
  align-items: center;
  gap: 5px;
}

.post-detail-caption {
  word-break: break-all;
}

.report-container {
  min-height: 93vh;
  padding-top: 4rem !important;
}

.home-main-container {
  background: #f5f5dc;
  margin-top: 3rem;
  min-height: 93vh;
}

@media (max-width: 700px) {
  .labelset {
    margin-left: 12px;
  }

  .btncomment {
    margin-bottom: 20px;
  }

  .clock {
    font-size: 11px !important;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    background-color: #212121;
  }

  #menu-toggle~.menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked~.menu li {
    /* border: 1px solid rgba(255, 255, 255, 0.096); */
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    padding: 25px;
    align-items: center;
    /* height: 120px; */
  }

  /* #menu-toggle:checked ~ .menu li.heightli {
    height: 150px !important;
  } */

  .menu>li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #212121;
  }

  .menu>li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

  .std {
    font-size: 1rem;
  }

  .editbutton {
    height: 30px !important;
    padding: 0 !important;
    width: 40% !important;
    margin-top: 15px !important;
  }

  .post-detail-container {
    flex-direction: column;
  }
}

@media (max-width: 991px) {
  .image_grid {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  .btncomment {
    margin-bottom: 20px;
  }
}

.clock {
  font-size: 11px !important;
}

@media (max-width: 480px) {
  .image_grid {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }

  .btncomment {
    margin-bottom: 20px;
  }

  .clock {
    font-size: 11px !important;
  }
}

@media screen and (min-width: 250px) and (max-width: 420px) {
  .hrmargin {
    margin-top: 10px !important;
  }

  .modalmobilecen {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  */ .imgmodal {
    height: auto !important;
  }

  /* .modalmobilecen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } */

  .modal-dialog {
    margin: 0 !important;
  }

  .modal-likes-dialog {
    margin: 0 !important;
  }

  .modalwidth {
    max-width: 100% !important;
  }

  .container-wrapper {
    position: relative;
    bottom: 0;
    margin-bottom: 0px;
  }

  .divcontainer {
    width: auto;
  }

  .imgbox {
    width: 100% !important;
  }

  .fonting {
    font-size: 11px !important;
  }

  .imgdivbig {
    max-height: 450px;
  }

  .container_button button {
    margin-right: 0 !important;
  }

  .creator_block {
    height: 200px;
    display: flex !important;
    align-items: center;
    margin-left: 5%;
  }

  .editbutton {
    line-height: 0.9 !important;
  }

  .edpr {
    font-size: 10px;
  }

  .p_img {
    height: 150px !important;
  }

  .labelset {
    margin-left: 12px;
  }

  .modalcenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    height: auto;
    width: auto;
  }

  .formheight {
    width: 150px;
    font-size: 10px;
    margin: 0 auto;
    height: 30px;
  }

  .btnmargin {
    margin-left: 0.23rem;
  }

  .main-section {
    height: 100%;
  }

  .footmargin {
    font-size: 7px !important;
  }

  .secform {
    margin-top: 0 !important;
  }

  .fontstyle {
    font-size: 10px;
  }

  .product_title {
    width: 100% !important;
  }

  .resimg {
    max-width: 100% !important;
    height: auto !important;
    display: block !important;
  }

  .resdiv {
    max-width: 100% !important;
    height: auto !important;
    display: block !important;
  }

  .std {
    font-size: 1rem;
  }

  .btncomment {
    margin-bottom: 20px;
  }
}

.profilePic {
  width: 30px;
  height: 30px;
  border: 2px solid #e3e3e3;
  border-radius: 50%;
}

@media only screen and (min-width: 768px) and (max-width: 1203px) {
  .ipadset {
    flex-direction: column;
  }

  .clock {
    font-size: 11px !important;
  }

  .modal-dialog {
    width: 90% !important;
  }

  .modal-likes-dialog {
    width: 50% !important;
  }

  .datamodal {
    width: 100% !important;
  }

  .img-fluid {
    max-width: 100%;
    height: auto !important;
  }

  .change-profile-photo-link {
    padding: 0 !important;
  }

  .change {
    font-size: 12px;
  }

  .btncomment {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 701px) and (max-width: 1024px) {
  .images {
    background-size: cover;
    background-position: center;
  }

  .clock {
    font-size: 11px !important;
  }

  .p_img {
    max-width: 100%;
    height: 300px;
  }

  .menu li {
    font-size: 10px;
  }

  .menu a {
    font-size: 10px;
  }

  #profileName {
    font-size: 10px;
  }

  .topcontainer {
    max-width: 100%;
    padding: 0 !important;
    margin: 0 auto;

    border: 0 !important;
  }

  .creator_desc {
    margin-top: 20px;
  }

  .btncomment {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /*profilepageedit*/

  /* Profilepageeditend*/

  .labelset {
    margin-left: 12px;
  }

  .clock {
    font-size: 11px !important;
  }

  .namespacing {
    font-size: 13px;
    text-align: center;
  }

  .btnmargin {
    margin-left: 1rem;
  }

  .menu a {
    padding-left: 0px !important;
  }

  .btncomment {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .edit_profile_button {
    margin: auto;
  }

  .clock {
    font-size: 11px !important;
  }

  .btncomment {
    margin-bottom: 20px;
  }
}

@media (max-width: 1280px) {

  /* .container-wrapper{
    margin-bottom: 180px;
  } */
  .clock {
    font-size: 11px !important;
  }

  .divcontainer {
    width: 100%;
  }

  .btncomment {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 1203px) and (max-width: 1666px) {
  .divcontainer {
    width: 100%;
  }

  .clock {
    font-size: 11px !important;
  }

  .container-wrapper {
    position: inherit;
  }

  .btncomment {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1200px) {
  .container-wrapper {
    position: inherit;
  }

  .clock {
    font-size: 11px !important;
  }

  .imgbox {
    width: 100% !important;
  }

  .btncomment {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 1668px) and (max-width: 2000px) {
  .container-wrapper {
    position: relative;
  }
}