body {
  font-family: cursive !important;
  margin: 0 auto;
}

/*modal-content*/

/* .fix-upload-button {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.fix-upload-button .btndiv {
  margin-top: 20px;
  /* text-align: center; */
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: #fff;
  margin: 100px auto;
  padding: 20px;
  border-radius: 12px;
  max-width: 600px;
  width: 90%;

}



.modal-content form {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
}

.choosefile {
  width: 50% !important;
  margin-top: 5% !important;
}

#profileName {
  font-size: 13px;
}

.subbtn {
  background-color: black !important;
  margin: auto !important;
  margin-top: 30px !important;
  width: 150px !important;
}

.caption {
  max-height: 200px !important;
  text-align: left !important;
}

.modal-content input[type="text"],
.modal-content input[type="file"],
.modal-content button[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: #fafafa;
  border-radius: 4px;
}

.modal-content span {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.modal-content .post-image {
  margin-top: 10px;
}

.modal-content .post-image img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.modal-content .loader {
  margin-top: 10px;
  text-align: center;
}

.error-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
}

.error-list li {
  color: red;
  font-size: 14px;
}

.text-danger {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.small {
  font-size: 12px;
}


button[type="submit"]:hover {
  background-color: #1864ab;
}

.uploadimgset {
  display: flex;
  justify-content: center;
  margin-top: 9%;

}

.modal-content {
  width: 495px;
  height: 590px;
}

.modal-close {
  margin-left: 40%;
  ;
}

.modalcross {
  display: flex;
}

.modalsubdiv {
  width: 50%;
  /* Adjust the width as needed */
  height: 20px;
  /* Adjust the height as needed */
}

.posting {
  text-align: center;
}

#modal1 {
  top: 0% !important;
  overflow: hidden;
}

.caption {
  width: 400px;
  height: 80px;
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: #f5f5f5;

  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;

  display: flex;
  justify-content: center;
  text-align: center;
}

.caption:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.capdiv {
  display: flex;
  justify-content: center;
  /* margin-top: 5%; */
}

.caption::placeholder {
  color: #aaa;
}

.caption:-ms-input-placeholder {
  color: #aaa;
}

.caption::-ms-input-placeholder {
  color: #aaa;
}

.drag {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* Adjust the height as needed */
}

.drag span {
  text-align: center;
}


.btndiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;

}



/*model test end */


/*modal-content end*/


/*hamburger start*/
.dropdown-menu.show {
  background-color: #212121;
  min-width: 130px;
  margin-top: 2px;
}

.iconimg {
  font-size: 13px;
  width: fit-content;
  position: unset !important;
  /* margin-top: 70px; */

}

.menuname {
  font-size: 13px;
}

#profile-dropdown {
  background: none;
  border: 0 !important;
}

#prfimg {
  width: 25px;
}

.menu a:hover {
  color: white;
  background-color: #212121;
}

/* Hamburger */

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu>li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.menu a {
  color: #ffffff;
  font-size: 13px;
  text-align: center;
}



/*hamburger end*/

.main-section {
  background: linear-gradient(to right, #2398bb, #90ee90);
}

.headlogo {
  width: 100px;
}

.standout {
  font-size: larger !important;
}

*/ .headlogo {
  width: 100px;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #05345b;
  z-index: -1;
}

#login-container {
  display: flex;
  height: 570px;
  justify-content: center;
  align-items: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 5px;
  width: 70%;
}

#resrevtest {
  min-height: 500px;
}

.login-form {
  width: 50%;
  display: contents;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.user-details {
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banimg {
  height: 100%;
  max-width: 100%;
}

.user-details h2 {
  color: #05345b;
  margin-top: 20px;
}

.introduction {
  background-color: beige;
  margin-top: 7%;
}

.user-details input[type="text"],
.user-details input[type="password"] {
  max-width: 400px;
  padding: 10px;
  margin-bottom: 10px;
}

.action-section {
  text-align: center;
}

.action-section img {
  height: 100%;
  margin-bottom: 20px;
}

.errormsg {
  color: red;
  font-size: 13px;
  margin: 5px 0;
}

button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10%;
}

.fields {
  height: 65px;
  border-radius: 50px;
  text-align: center;
  border: none;
}

.login-logo {
  width: 150px;
  max-width: 100%;
}

.bigimg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logostyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  padding-right: 0px !important;
}

.btnblack {
  height: 45px !important;
  width: 85px !important;
  background-color: black !important;
  color: white !important;
  padding-top: 10px !important;
  font-size: small !important;
  margin-top: 20px;
}

.pad {
  padding-top: 10px;
  max-width: 400px;
  width: 100%;
}

.forget {
  font-size: 14px;
  color: black;
  text-align: center;
  margin-bottom: 0 !important;
}

.formheight {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid gray;
  border-radius: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 45px;
}

.row>* {
  padding-left: 0px !important;
}

.secform {
  margin-top: 20px;
}

.color {
  margin-top: 20px;
}

/* Footer */
/* footer {
  height: 100px !important;
} */

* {
  padding: 0;
  margin: 0;
  font-size: 100%;
  box-sizing: border-box;
  /* font-family: cursive; */
}

.btnpost {
  width: 95px !important;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  line-height: 1.4;
  font-size: clamp(1rem, 1.1rem, 1.2rem) !important;
}

/* img {
  max-width: 90px;
  height: auto;
} */

a {
  text-decoration: none !important;
}

li {
  list-style-type: none;
}

h2 {
  font-size: clamp(1.2rem, 1.4rem, 1.6rem) !important;
  margin-top: 8px;
}

.logo {
  width: 200px;
  max-width: 200px;
  vertical-align: middle;
}

.logonew {
  color: #ffffff;
  font-size: 100%;
  font-weight: bold;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #e6e7e8;
  border-bottom: 1px solid #e0e5eb;
  box-shadow: 0px 1px 8px #e6e7e8;
  color: black;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* gap: 20px; */
}

.menu>li {
  margin: 0 1rem;
  overflow: hidden;
  font-size: 15px;
}

.menu a {
  color: white;
  text-decoration: none;
  padding-left: 6px;
}

/* 
    Footer
*/
footer {
  background: #212121;
  color: #58595b;
  /* height: 90px !important; */
  left: 0;
  bottom: -5px;
  width: 100%;
  transition: bottom 0.3s ease-in-out;
}

footer h1 {
  color: #f32a2e;
  font-size: 12px !important;
  font-size: 1.2rem;
  color: black;
}

.aboutmargin {
  margin-top: 4%;
}

footer hr {
  width: 70%;
  margin: auto;
  opacity: 0.5;
  font-size: 15px;
}

footer li {
  min-height: 32px;
}

footer>p {
  text-align: center;
  padding: 30px 0;
}

footer #footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 30px;
  /* padding: 20px 0; */
}

footer a {
  text-decoration: none;
  color: white;
}

.social_media {
  text-align: center;
  display: flex;
  gap: 10px;
}

.social_media div img {
  width: 40px;
  padding: 5px;
  max-width: 90px;
  height: auto;
}

footer hr {
  display: none;
}

footer #footer {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  align-items: start;
  gap: 10px;
  /* height: 50px; */
}

.errpad1 {
  text-align: left;
}

.footmargin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 12px !important;
}

/* ABOUT US MODIFIED */

#collections_container,
#top_selling_container,
#official_merchandise_container {
  text-align: center;
  width: 96%;
  margin: auto;
  margin-top: 4%;
}

.fonttext {
  font-size: 18px;
}

.wholesec {
  background-color: #fff;
  height: 100%;
}

.changecol {
  background-color: #fff;
}

#collections_container h1,
#official_merchandise_container h1,
#top_selling_container h1,
#membership h1 {
  padding: 20px;
  font-size: clamp(1.5rem, 2vw - 1rem, 2.5rem);
}

#top_selling {
  margin-top: 20px;
  display: flex;
  flex-basis: 350px;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  margin-top: 2%;
}

#top_selling .items {
  display: flex;
  flex-direction: column;
}

#top_selling .items img {
  max-width: 300px;
  /* height: 100%; */
}

#top_selling .product_title {
  font-size: 0.9rem;
  padding: 4px 0;
}

#top_selling .description {
  font-size: 0.9rem;
}

#top_selling .price {
  font-size: 0.9rem;
}

#top_selling .items {
  display: flex;
  flex-direction: column;
}

#top_selling .items img {
  max-width: 300px;
  /* height: 100%; */
}

.imgbor {
  border-radius: 20px;
}

#top_selling .product_title {
  font-size: 0.9rem;
  padding: 4px 0;
}

.product_title {
  width: 300px;
  word-wrap: break-word;
}

.success {
  text-decoration: underline;
  font-size: 1.5rem;
}

#collections_container h1,
#official_merchandise_container h1,
#top_selling_container h1,
#membership h1 {
  padding: 20px;
  font-size: clamp(1.5rem, 2vw - 1rem, 2.5rem);
}

.instagramIcon {
  color: #C13584
}

.facebookIcon {
  color: #4267B2;
}

.twitterIcon {
  color: #1DA1F2;
}


.post-image>img {
  width: 30%;
}

@media screen and (min-width: 370px) and (max-width: 1000px) {

  /*responsive modal start */
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
    height: 500px;
  }

  .modcen {
    display: flex !important;
    align-items: center;
  }

  /**/


  #resrevtest {
    display: flex !important;
    flex-direction: column-reverse !important;
    display: flex !important;
    flex-direction: column-reverse !important;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 100px;
  }

  .logostyle {
    height: 38vh;
  }

  .banimg {
    height: 100%;
    max-width: 100%;
  }

  .login-logo {
    max-width: 100%;
  }

  #login-container {
    height: 100vh;

    display: flex;
    /* justify-content: unset; */
    align-items: center;

    max-width: 95% !important;
  }

  .action-section img {
    height: 100%;
    margin-bottom: 0px !important;
  }

  .about-us-container,
  .about-us-container-md,
  .about-us-container-sm {
    max-width: 80%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1080px) {
  #login-container {
    height: 530px;
    display: flex;
    align-items: center;
    max-width: 95% !important;
  }

  .logostyle {
    height: 70vh;
  }

  .action-section img {
    height: 84%;
    margin-bottom: 20px;
    max-width: 90px;
    height: auto;
  }
}

.main-container {
  min-height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-login-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr;
  background-color: white;
  /* padding: 40px; */
  width: 70%;
  margin: auto;
  min-height: 585px;
}

#login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.remmargin {
  margin-top: 0px !important;
}

.login-details {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-image>img {
  display: none;
}

#form1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  #main-login-container {
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    /* gap: 20px; */
    width: 70%;
    grid-template-rows: auto;
  }

  #login-image>img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    display: block;
  }
}

/* Sign Up Page */
.signup-container {
  display: flex;
  margin: 0 auto;
  box-sizing: border-box !important;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sign-up-container {
  height: unset !important;
}

/* Sign Up End */

/* ABOUT US */

body {
  /* font-family: Arial, sans-serif; */
  background-color: #f8f8f8;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

header h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.about-section {
  /* padding: 40px; */
  text-align: center;
  margin-top: 4%;
}

.about-section .about-us-container {
  background-color: #fff;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  padding: 40px;
  padding-left: 90px;
  margin-bottom: 4%;
  padding-right: 90px;
}

.about-section .row {
  align-items: center;
}

.about-section .col {
  margin-bottom: 30px;
}

.about-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.about-section p {
  font-size: 16px;
  margin-bottom: 15px;
}

footer {
  text-align: center;
}

.cover-image {
  position: relative;
  width: 100%;
  height: 530px;
  overflow: hidden;
}

.cover-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cover-image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-image .overlay h1 {
  color: #fff;
  font-size: 36px;
  text-align: center;
}

.midimg {
  width: 90%;
  margin: 0 auto;
  margin-top: 6% !important;
}

.slideshow {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../assets/imgone.jpg) no-repeat center left;
  animation: slide 20s infinite;
  height: 500px;
  background-position: center;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
}

@keyframes slide {
  0% {
    background: url(../assets/newimg/excited-friends-watching-video-mobile-phone.jpg),
      url(../assets/imgthree.jpg);
    width: 100%;
    animation: slide 20s infinite;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    background-size: cover;
  }

  25% {
    background: url(../assets/imgthree.jpg), url(../assets/imgfour.jpg);
    width: 100%;
    animation: slide 20s infinite;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    background-size: cover;
  }

  50% {
    background: url(../assets/imgfour.jpg), url(../assets/newimg/mobile-app.jpg);
    animation: slide 20s infinite;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    background-size: cover;
  }

  75% {
    background: url(../assets/newimg/mobile-app.jpg),
      url(../assets/newimg/pretty-young-woman.jpg);
    animation: slide 20s infinite;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    background-size: cover;
  }

  100% {
    background: url(../assets/newimg/pretty-young-woman.jpg),
      url(../assets/imgseven.jpg);
    width: 100%;
    animation: slide 20s infinite;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    background-size: cover;
  }
}

.cover-image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-image .overlay h1 {
  color: #fff;
  font-size: 36px;
  text-align: center;
}

.centertext {
  text-align: center;
  font-size: 30px;
  width: 70%;
  margin: 0 auto;
}

footer p {
  font-size: 14px;
  color: #888;
}

.imgfull {
  max-width: 0px !important;
}

.cover-image {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.cover-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cover-image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-image .overlay h1 {
  color: #fff;
  font-size: 36px;
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  width: 75%;
}

.about-us-container {
  max-width: 1600px !important;
}

.midimg {
  width: 90%;
  margin: 0 auto;
}

.footerspace {
  margin-bottom: 6%;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #212121;
  border-bottom: 1px solid #e0e5eb;
  box-shadow: 0px 1px 8px #e6e7e8;
  color: white;
  height: 50px;
  padding: 1em;
}

.logonew {
  color: #ffffff;
  font-size: 100%;
  font-weight: bold;
}

.headlogo {
  width: 100px;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: white;
}

.sub-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  position: absolute;
  background-color: #e6e7e8;
  box-shadow: 0px 1px 8px #e6e7e8;
}

.sub-menu li {
  margin: 0;
  width: 100%;
}

.sub-menu a {
  color: black;
  display: block;
  padding: 10px;
}

.profile-menu:hover .sub-menu {
  display: block;
}

.sub-menu-toggle {
  display: none;
}

.sub-menu-toggle+label:before {
  content: "▼";
  display: inline-block;
  margin-right: 5px;
  /* transform: rotate(-90deg); */
  transition: transform 0.3s;
}

/* .sub-menu-toggle:checked + label:before {
  /* transform: rotate(0deg); */
.menu.open {
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 700px) {

  #main-login-container {
    width: 90% !important;
  }

  .menu {
    position: relative;
  }

  .menu-button-container {
    display: block;
  }

  .menu li {
    margin-bottom: 10px;
  }

  .sub-menu {
    position: static;
    box-shadow: none;
    background-color: transparent;
  }
}

.icons {
  width: auto;
}


.user_details_container,
.hobbies_container {
  width: 80%;
  margin: 40px auto;
}

.image_mainblock {
  background-color: #ffffff;
  margin: 0 auto;
  min-height: 370px;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  border: 3px solid #A80000;
  border-radius: 55px;
  width: 100%;
}

.creator_block {
  width: 120px;

  /* display: inline-block; */
  border-radius: 50%;
  vertical-align: middle;
  height: 120px;
  margin-left: 10%;

}

.creator_image {
  width: 120px;
  border-radius: 70%;
  height: 120px;
  object-fit: cover;
}

.container_button {
  height: auto;
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.container_button button {
  background: #A80000;
  color: white;
  width: 40%;
  border-radius: 22px;
  border: none;
  float: none;
  margin-right: 15px;
  text-align: center;
  margin-top: 8px;
}

.container_button p {
  font-weight: bold;
  font-family: cursive;
  font-size: 10px;
}

.b_text {
  display: inline-block;
  vertical-align: middle;
  font-size: 8px;
}

.sync {
  float: left;
  font-family: cursive;
}


.creator_desc {
  margin-top: 5%;
  font-size: 15px;
  color: #212121;
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}

.creator_details {
  text-align: center;
  margin-top: 20px;
  font-size: 10px;
}

.first_text {
  text-align: center;
}

.desc {
  float: left;
  margin-top: 20px;
  font-size: x-small;
}

.p_img {
  height: auto;
  transition: all 0.3s linear;
  object-fit: cover;
}

.p_img:hover {
  /* transform: rotate(-7deg); */
  position: unset
}

.t_layout {
  text-align: center;
}


.desc {
  float: left;
  margin-top: 20px;
  font-size: x-small;
}

.image_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #ffffff;
  grid-template-rows: auto;
  gap: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.images {
  width: 340px;
  margin-top: 50px;
}

.icon {
  width: 25px;
}

.number {
  line-height: 23px;
  vertical-align: top;
  font-size: 10px;
}

.hobbies_container>.see_more {
  text-align: center;
}

.users_container>.see_more {
  text-align: center;
}


@media screen and (min-width: 768px) {
  .user_details_container {
    background: #F5F5F5;
  }

  .image_mainblock {
    background-color: #ffffff;
    margin: 0 auto;
    height: auto;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    border: 3px solid #A80000;
    border-radius: 55px;
    width: 100%;
  }

  .creator_block {
    width: 180px;
    border-radius: 50%;
    vertical-align: middle;
    height: 180px;
    margin-left: 10%;

  }

  .creator_image {
    width: 180%;
    border-radius: 70%;
    height: 180px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .container_button {
    height: 200px;
    margin: 0 auto;
    width: 50%;
  }

  .container_button button {
    background: #A80000;
    color: white;
    width: 30%;
    border-radius: 22px;
    display: inherit;
    border: none;
    height: 40px;
    float: left;
    margin-right: 15px;
    text-align: center;
  }

  .container_button p {
    font-weight: bold;
    font-family: cursive;
    font-size: 12px;
  }

  .b_text {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
  }

  .sync {
    float: left;
    font-family: cursive;
  }

  .creator_desc {
    margin-top: 5%;
    font-size: 20px;
    color: #212121;
    margin-top: 20px;
    font-weight: bold;
    text-align: left;

  }

  .creator_details {
    float: left;
    text-align: center;
    margin-top: 20px;
    font-size: 13px;

  }

  .first_text {
    text-align: initial !important;

  }

  .t_layout {
    padding-left: 30px;
  }

  .desc {
    float: left;
    margin-top: 20px;
    font-size: 13px;
  }

  .image_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #ffffff;
    height: 450px;
    grid-template-rows: auto;
    gap: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .images {

    height: 400px;
    width: 340px;
    margin-top: 50px;
  }

  .p_img {
    height: 350px;
    width: 340px;
    transition: all 0.3s linear;
    object-fit: cover;
  }

  .icon {

    width: 40px;


  }

  .number {
    line-height: 40px;
    vertical-align: top;
    font-size: 15px;
  }
}

.post-image {
  width: 250px;
}


@media (max-width: 700px) {


  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 99999;
  }

  #menu-toggle~.menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked~.menu li {
    /* border: 1px solid rgba(255, 255, 255, 0.096); */
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    padding: 25px;
    align-items: center;
    /* height: 120px; */
  }

  #menu-toggle:checked~.menu li.heightli {
    height: 150px !important;
  }


  .menu>li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #212121;

  }

  .menu>li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

  .std {
    font-size: 1rem;
  }
}

@media screen and (min-width: 250px) and (max-width:420px) {

  .formheight {
    width: 150px;
    font-size: 10px;
    margin: 0 auto;
    height: 30px;
  }

  .main-section {
    height: 100%;
  }

  .footmargin {
    font-size: 7px !important;
  }

  .secform {
    margin-top: 0 !important;
  }

  .fontstyle {
    font-size: 10px;
  }

  .product_title {
    width: 100% !important;
  }

  .resimg {
    max-width: 100% !important;
    height: auto !important;
    display: block !important;
  }

  .resdiv {
    max-width: 100% !important;
    height: auto !important;
    display: block !important;
  }

  .std {
    font-size: 1rem;
  }
}